:root{

--bg:#050B14;

--sidebar:#08111F;

--card:#101B2B;

--card-hover:#142338;

--border:rgba(255,255,255,.08);

--primary:#2563EB;

--cyan:#00D4FF;

--green:#22C55E;

--orange:#F59E0B;

--red:#EF4444;

--purple:#A855F7;

}

body{

background:var(--bg);

color:white;

font-family:Inter,sans-serif;

}

.dashboard-scroll::-webkit-scrollbar{

width:7px;

}

.dashboard-scroll::-webkit-scrollbar-thumb{

background:#1F2937;

border-radius:20px;

}

.dashboard-scroll::-webkit-scrollbar-track{

background:transparent;

}